@using System.Runtime.InteropServices
@using SurveySystem.Models;

@model SurveySystem.ViewModels.QuestionGroupShowVM

@{
    ViewBag.Title = "Question Group";
}

<h2>@Html.DisplayFor(model => model.QuestionGroup.Title)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Survey)
    @Html.HiddenFor(model => model.CurrentQuestionGroupIndex)
    
    int counter = 0;
foreach (var item in Model.QuestionGroup.Questions)
{
    counter++;
    string name = "answer" + counter;
    <div class="form-group">
        @Html.DisplayFor(modelItem => item.QuestionString)
        <div class="col-md-12">
            @if (item.Type == "Appreciation" || item.Type == "Selection")
            {
                List<string> list = new List<string>();
                char delimiter = Convert.ToChar(";");
                string[] splitStrings = item.Answer.Split(delimiter);
                foreach (var s in splitStrings)
                {
                    list.Add(s);
                }
                foreach (var answer in list)
                {
                    <div class="col-md-1">
                        @Html.RadioButton(name, answer)
                        @Html.DisplayFor(modelItem => answer)
                    </div>
                }
            }
            else if (item.Type == "MultipleValues" || item.Type == "PreDefined")
            {
                Dictionary<string, bool> list = new Dictionary<string, bool>();
                char delimiter = Convert.ToChar(";");
                string[] splitString = item.Answer.Split(delimiter);
                foreach (var answer in splitString)
                {
                    bool b = false;
                    list.Add(answer, b);
                }
                foreach (KeyValuePair<string, bool> boolPair in list)
                {
                    <div class="col-md-4">
                        @Html.CheckBoxFor(modelItem => boolPair.Value)
                        @Html.DisplayFor(modelItem => boolPair.Key)
                    </div>
                }
                if (item.Type == "MultipleValues")
                {
                    <div class="col-md-4">
                        @Html.CheckBox("Other")
                        @Html.DisplayFor(modelItem => modelItem)
                        @Html.EditorFor(model => model)
                    </div>
                }
                }
                else if (item.Type == "OpenEnd")
                {
                    @Html.TextAreaFor(modelItem => item.Answer)
                }
         </div>
    </div>
    <hr/>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Next" class="btn btn-default" />
    </div>
</div>
}


