@using System.Runtime.InteropServices
@using SurveySystem.Models;

@model SurveySystem.ViewModels.SurveyShowVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    int counter = 0;
foreach (var item in Model.QuestionGroupShowVM.CurrentQuestionGroup.Questions)
{
    counter++;
    string name = "answer" + counter;
    <div class="form-group">
        @Html.DisplayFor(modelItem => item.QuestionString)
        <div class="col-md-12">
            @if (item.Type == "Appreciation" || item.Type == "Selection")
            {
                List<string> list = new List<string>();
                char delimiter = Convert.ToChar(";");
                string[] splitStrings = item.Answer.Split(delimiter);
                foreach (var s in splitStrings)
                {
                    list.Add(s);
                }
                foreach (var answer in list)
                {
                    @Html.RadioButton(name, answer)
                    @Html.DisplayFor(modelItem => answer, new { htmlAttributes = new { @class = "form-control" } })
                }
            }
            else if (item.Type == "MultipleValues" || item.Type == "PreDefined")
            {
                Dictionary<string, bool> list = new Dictionary<string, bool>();
                char delimiter = Convert.ToChar(";");
                string[] splitString = item.Answer.Split(delimiter);
                foreach (var answer in splitString)
                {
                    bool b = false;
                    list.Add(answer, b);
                }
                foreach (KeyValuePair<string, bool> boolPair in list)
                {
                    @Html.CheckBoxFor(modelItem => boolPair.Value)
                    @Html.DisplayFor(modelItem => boolPair.Key)
                }
                if (item.Type == "MultipleValues")
                {
                    @Html.CheckBox("Other")
                    @Html.DisplayFor(modelItem => modelItem.QuestionGroupShowVM.OtherAnswer)
                    @Html.EditorFor(model => model.QuestionGroupShowVM.OtherAnswer)
                }
            }
            else if (item.Type == "OpenEnd")
            {
                @Html.TextAreaFor(modelItem => item.Answer)
            }
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Next" name="Next" class="btn btn-default" />
    </div>
</div>
}


