@model SurveySystem.ViewModels.SurveyResultStatisticsVM
@{
    ViewBag.Title = "Results";
}


<h4>Results</h4>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answers);
        </th>
        <th>
            placeholder for count
        </th>
    </tr>

    @foreach (var item in Model.SurveyQuestions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionString)
            </td>
          @foreach (var uniqueAnswer in Model.countAnswers)
          {
              if (item.Id == uniqueAnswer.Item1)
              {
                  <td>
                      @Html.DisplayFor(modelItem => uniqueAnswer.Item2)
                  </td>
              <td>
                  @Html.DisplayFor(modelItem=> uniqueAnswer.Item3)
              </td>
              
                
              }
          }
            
        </tr>
    }
    </table>
    <div>
        @Html.ActionLink("Back to Index", "Index")
    </div>

